docs/specs/exml.dtd.txt

<!ELEMENT doc (title?, authors?, date?, abstract?, doc_main, refs?, doc_endnotes?)>
<!ATTLIST doc
	class CDATA #REQUIRED
>

<!ELEMENT title (#PCDATA)>
<!ELEMENT authors (author+)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ATTLIST date
	datetime CDATA #IMPLIED
>

<!ELEMENT abstract (abstract_hdr?, (blk_txt | blk_blt | blk_itm | blk_dsp | blk_vrb)+)>
<!ELEMENT doc_main (ch+ | sec+ | par+ | (blk_txt | blk_blt | blk_itm | blk_dsp | blk_vrb)+)>
<!ELEMENT refs (refs_hdr?, (blk_txt | blk_blt | blk_itm | blk_dsp | blk_vrb)+)>

<!ELEMENT abstract_hdr (#PCDATA)>
<!ELEMENT refs_hdr (#PCDATA)>

<!ELEMENT ch (((ch_lbl, ch_hdr) | ch_lbl_hdr), ch_main, ch_endnotes?)>
<!ATTLIST ch 
	class CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT sec (((sec_lbl, sec_hdr) | sec_lbl_hdr), sec_main)>
<!ATTLIST sec 
	class CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT par ((par_lbl, clear, par_main_w_hdr) | (par_lbl_hdr, clear, par_main))>
<!ATTLIST par
	class CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT ch_main (sec+ | par+ | (blk_txt | blk_blt | blk_itm | blk_dsp | blk_vrb)+)>
<!ELEMENT sec_main (par+ | (blk_txt | blk_blt | blk_itm | blk_dsp | blk_vrb)+)>
<!ELEMENT par_main (blk_txt | blk_blt | blk_itm | blk_dsp | blk_vrb)+>
<!ELEMENT par_main_w_hdr (
	((par_tag?, par_hdr) | par_tag_hdr ),
	(blk_txt | blk_blt | blk_itm | blk_dsp | blk_vrb )+)
>

<!ELEMENT blk_txt (txt_unit_wysiwyg | txt_unit_emph | txt_unit_c_ref | txt_unit_nte)+>
<!ELEMENT blk_blt (blk_blt_lbl, clear, blk_blt_main)>
<!ELEMENT blk_itm (blk_itm_lbl, clear, blk_itm_main)>
<!ATTLIST blk_itm 
	class CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT blk_dsp (dsp_line+)>
<!ELEMENT blk_vrb ((vrb_line | vrb_line_empty)+)>
<!ELEMENT vrb_line (#PCDATA)>
<!ELEMENT vrb_line_empty EMPTY>

<!ELEMENT blk_blt_main (blk_txt | blk_blt | blk_itm | blk_dsp | blk_vrb)+>
<!ELEMENT blk_itm_main (blk_txt | blk_blt | blk_itm | blk_dsp | blk_vrb)+>

<!ELEMENT ch_hdr (txt_unit_wysiwyg | txt_unit_emph | txt_unit_c_ref | txt_unit_nte)+>
<!ELEMENT sec_hdr (txt_unit_wysiwyg | txt_unit_emph | txt_unit_c_ref | txt_unit_nte)+>
<!ELEMENT par_hdr (txt_unit_wysiwyg | txt_unit_emph | txt_unit_c_ref | txt_unit_nte)+>
<!ELEMENT par_hdr_inline (txt_unit_wysiwyg | txt_unit_emph | txt_unit_c_ref | txt_unit_nte)+>

<!ELEMENT par_tag (#PCDATA)>
<!ELEMENT par_tag_hdr (#PCDATA)>
<!ELEMENT par_tag_hdr_inline (#PCDATA)>


<!ELEMENT ch_lbl (#PCDATA)>
<!ELEMENT ch_lbl_hdr (#PCDATA)>
<!ELEMENT sec_lbl (#PCDATA)>
<!ELEMENT sec_lbl_hdr (#PCDATA)>
<!ELEMENT par_lbl (#PCDATA)>
<!ELEMENT par_lbl_hdr (#PCDATA)>
<!ELEMENT blk_blt_lbl (#PCDATA)>
<!ELEMENT blk_itm_lbl (#PCDATA)>
<!ELEMENT dsp_line_lbl (#PCDATA)>

<!ELEMENT txt_unit_wysiwyg (#PCDATA)>
<!ELEMENT txt_unit_emph (#PCDATA)>
<!ELEMENT txt_unit_c_ref (#PCDATA)>
<!ATTLIST txt_unit_c_ref 
	href CDATA #REQUIRED
>
<!ELEMENT txt_unit_nte (#PCDATA)>
<!ATTLIST txt_unit_nte 
	href CDATA #REQUIRED
	id CDATA #REQUIRED
>

<!ELEMENT dsp_line (dsp_line_lbl?, clear?, dsp_line_main)+>
<!ATTLIST dsp_line 
	class CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT dsp_line_main (txt_unit_wysiwyg | txt_unit_emph | txt_unit_c_ref | txt_unit_nte)+>
<!ELEMENT clear EMPTY>

<!ELEMENT doc_endnotes (doc_endnotes_hdr, blk_nte+)>
<!ELEMENT ch_endnotes (ch_endnotes_hdr, blk_nte+)>
<!ELEMENT doc_endnotes_hdr (#PCDATA)>
<!ELEMENT ch_endnotes_hdr (#PCDATA)>


<!ELEMENT blk_nte (blk_nte_lbl, clear, blk_nte_main)>
<!ATTLIST blk_nte
	id CDATA #REQUIRED
>
<!ELEMENT blk_nte_lbl (#PCDATA)>
<!ATTLIST blk_nte_lbl
	href CDATA #REQUIRED
>

<!ELEMENT blk_nte_main (blk_txt | blk_blt | blk_itm | blk_dsp | blk_vrb)+>


